<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ortelligence Surgery Management Application Test Suite">

<listeners>

<listener class-name="com.qa.extentreport.ExtentReport"/>

</listeners>



  <test thread-count="5" name="Ortelligence Application Test Cases">
    <classes>
    
     

        <class name="com.ort.qa.testcases.CreateCaseFlowPageTest"/>
     
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
   